@{
    Layout = null;
}
<!doctype html>
<html lang="zxx">
<head>
    @await Html.PartialAsync("/Views/Shared/LayoutPartial/_HeadLinkPartial.cshtml")
</head>
<body>
    @await Html.PartialAsync("/Views/Shared/LayoutPartial/_HeaderPartialview.cshtml")
    @RenderBody()
    @await Html.PartialAsync("/Views/Shared/LayoutPartial/_FooterPartialview.cshtml")
    @await Html.PartialAsync("/Views/Shared/LayoutPartial/_ScriptPartial.cshtml")
</body>
</html>