 @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}




<section class="section">
    <div class="row">
        <!-- Website-Besucher -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Website-Besucher</h5>
                                    <h2 class="mb-3 font-18">@ViewBag.VisitorCount</h2>
                                    <p class="mb-0"><span class="col-green">10%</span> Zuwachs</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="~/otika-bootstrap-admin-template/assets/img/banner/1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Kunden -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Kunden</h5>
                                    <h2 class="mb-3 font-18">@ViewBag.user</h2>
                                    <p class="mb-0"><span class="col-orange">09%</span> Rückgang</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="~/otika-bootstrap-admin-template/assets/img/banner/2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Neue Reiseziele -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Neue Reiseziele</h5>
                                    <h2 class="mb-3 font-18">@ViewBag.destination</h2>
                                    <p class="mb-0"><span class="col-green">18%</span> Wachstum</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="~/otika-bootstrap-admin-template/assets/img/banner/3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Reservierungen -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Reservierungen</h5>
                                    <h2 class="mb-3 font-18">@ViewBag.reservation</h2>
                                    <p class="mb-0"><span class="col-green">42%</span> Zuwachs</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="~/otika-bootstrap-admin-template/assets/img/banner/4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="destinationList">
        @await Component.InvokeAsync("_DashbordDestinationList", new { page = 1 })
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-12 col-xl-6">
            <!-- Support tickets -->
            <div class="card">

                @await Component.InvokeAsync("_DashborComments")
                <a href="javascript:void(0)" class="card-footer card-link text-center small ">
                    View
                    All
                </a>
            </div>
            <!-- Support tickets -->
        </div>
        @await Component.InvokeAsync("_DashbordReservation")
    </div>
</section>



<script src="~/otika-bootstrap-admin-template/assets/bundles/apexcharts/apexcharts.min.js"></script>
