@model TraversalCoreProje.Areas.Admin.Models.DestinationModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Traveler.styles.css" asp-append-version="true" />

<div class="container-fluid h-100 p-0 d-flex">
    <!-- Sol kolon -->
    <div class="col-6 d-flex flex-column h-100 p-3">
        <div class="card flex-grow-1 d-flex flex-column">
            <div class="card-header">
                <h4>Neue Reise Ziel</h4>
            </div>
            <form asp-area="Admin" asp-controller="Destination" asp-action="Create"
                  method="post" enctype="multipart/form-data" class="d-flex flex-column h-100">
                <div class="card-body flex-grow-1 overflow-auto" style="min-height:0;">

                    <!-- Genel hata mesajı -->
                    @if (ViewBag.message != null)
                    {
                        <div class="alert alert-warning">@ViewBag.message</div>
                    }

                    <input type="text" asp-for="Title1" class="form-control mb-2" id="title1" placeholder="Title1" oninput="updatePreview()" required>
                    <span asp-validation-for="Title1" class="text-danger"></span>

                    <input type="file" asp-for="coverImage" class="form-control mb-2" id="coverImage" onchange="updatePreviewImage('coverImage', 'previewCover')" required>
                    <span asp-validation-for="coverImage" class="text-danger"></span>

                    <textarea class="form-control mb-2" asp-for="Detail1" id="detail1" placeholder="Detail1" oninput="updatePreview()" required></textarea>
                    <span asp-validation-for="Detail1" class="text-danger"></span>

                    <textarea class="form-control mb-2" asp-for="Detail2" id="detail2" placeholder="Detail2" oninput="updatePreview()" required></textarea>
                    <span asp-validation-for="Detail2" class="text-danger"></span>

                    <input type="text" asp-for="Title3" class="form-control mb-2" id="title3" placeholder="Title3" oninput="updatePreview()" required>
                    <span asp-validation-for="Title3" class="text-danger"></span>

                    <textarea class="form-control mb-2" asp-for="Detail3" id="detail3" placeholder="Detail3" oninput="updatePreview()" required></textarea>
                    <span asp-validation-for="Detail3" class="text-danger"></span>

                    <div class="form-row mb-2">
                        <div class="col">
                            <input type="file" asp-for="image2" class="form-control" id="image2" onchange="updatePreviewImage('image2', 'previewImage2')" required>
                            <span asp-validation-for="image2" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <input type="file" asp-for="image3" class="form-control" id="image3" onchange="updatePreviewImage('image3', 'previewImage3')" required>
                            <span asp-validation-for="image3" class="text-danger"></span>
                        </div>
                    </div>

                    <input type="text" class="form-control mb-2" id="title4" asp-for="Title4" placeholder="Title4" oninput="updatePreview()" required>
                    <span asp-validation-for="Title4" class="text-danger"></span>

                    <textarea class="form-control mb-2" id="detail4" placeholder="Detail4" asp-for="Detail4" oninput="updatePreview()" required></textarea>
                    <span asp-validation-for="Detail4" class="text-danger"></span>

                    <input type="text" class="form-control mb-2" id="title5" asp-for="Title5" placeholder="Title5" oninput="updatePreview()" required>
                    <span asp-validation-for="Title5" class="text-danger"></span>

                    <textarea class="form-control mb-2" id="detail5" placeholder="Detail5" asp-for="Detail5" oninput="updatePreview()" required></textarea>
                    <span asp-validation-for="Detail5" class="text-danger"></span>

                    <input type="text" class="form-control mb-2" id="city" placeholder="City" asp-for="City" oninput="updatePreview()" required>
                    <span asp-validation-for="City" class="text-danger"></span>

                    <input type="text" class="form-control mb-2" id="description" asp-for="Description" placeholder="Description" oninput="updatePreview()" required>
                    <span asp-validation-for="Description" class="text-danger"></span>

                    <input type="text" class="form-control mb-2" id="capacity" asp-for="Capacity" placeholder="Capacity" oninput="updatePreview()" required>
                    <span asp-validation-for="Capacity" class="text-danger"></span>

                    <!-- image opsiyonel -->
                    <input type="file" class="form-control mb-2" id="image" asp-for="image" onchange="updatePreviewImage('image', 'previewImage')">
                    <span asp-validation-for="image" class="text-danger"></span>

                    <input type="text" class="form-control mb-2" id="price" asp-for="Price" placeholder="Price" oninput="updatePreview()" required>
                    <span asp-validation-for="Price" class="text-danger"></span>

                    <input type="text" class="form-control mb-2" id="dayNight" asp-for="DayNight" placeholder="DayNight" oninput="updatePreview()" required>
                    <span asp-validation-for="DayNight" class="text-danger"></span>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit">Submit</button>
                    <button class="btn btn-secondary" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Sağ kolon -->
    <div class="col-6 d-flex flex-column h-100 p-3">
        <div class="card flex-grow-1 d-flex flex-column">
            <div class="card-header">
                <h4>Preview</h4>
            </div>
            <div class="card-body flex-grow-1 overflow-auto" style="min-height:0;">
                <h5 id="previewTitle1"></h5>
                <img id="previewCover" class="img-fluid mb-2" style="max-height:max-content; object-fit:cover;" />
                <p id="previewDetail1"></p>
                <p id="previewDetail2"></p>
                <h5 id="previewTitle3"></h5>
                <p id="previewDetail3"></p>
                <div class="d-flex mb-2">
                    <img id="previewImage2" class="img-fluid mr-2" style="max-width: 50%; max-height:250px; object-fit:cover;">
                    <img id="previewImage3" class="img-fluid" style="max-width: 50%; max-height:250px; object-fit:cover;">
                </div>
                <h5 id="previewTitle4"></h5>
                <p id="previewDetail4"></p>
                <h5 id="previewTitle5"></h5>
                <p id="previewDetail5"></p>
                <div class="card mb-3" style="max-width: 500px;">
                    <div class="row no-gutters">
                        <div class="col-5">
                            <img id="previewImage" class="card-img h-100" alt="Preview Image" style="max-height: 175px; padding: 6px 18px;">
                        </div>
                        <div class="col-7">
                            <div class="card-body p-2">
                                <h5 class="card-title mb-1" id="previewCity">City</h5>
                                <p class="card-text mb-1" id="previewDescription">Description</p>
                                <p class="card-text mb-1"><strong>Capacity:</strong> <span id="previewCapacity">0</span></p>
                                <p class="card-text mb-1"><strong>Price:</strong> <span id="previewPrice">€0</span></p>
                                <p class="card-text mb-2"><strong>Day/Night:</strong> <span id="previewDayNight">0/0</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    function updatePreview() {
        document.getElementById("previewTitle1").innerText = document.getElementById("title1").value;
        document.getElementById("previewDetail1").innerText = document.getElementById("detail1").value;
        document.getElementById("previewDetail2").innerText = document.getElementById("detail2").value;
        document.getElementById("previewTitle3").innerText = document.getElementById("title3").value;
        document.getElementById("previewDetail3").innerText = document.getElementById("detail3").value;
        document.getElementById("previewTitle4").innerText = document.getElementById("title4").value;
        document.getElementById("previewDetail4").innerText = document.getElementById("detail4").value;
        document.getElementById("previewTitle5").innerText = document.getElementById("title5").value;
        document.getElementById("previewDetail5").innerText = document.getElementById("detail5").value;
        document.getElementById("previewCity").innerText = document.getElementById("city").value;
        document.getElementById("previewDescription").innerText = document.getElementById("description").value;
        document.getElementById("previewCapacity").innerText = document.getElementById("capacity").value;
        document.getElementById("previewPrice").innerText = document.getElementById("price").value;
        document.getElementById("previewDayNight").innerText = document.getElementById("dayNight").value;
    }

    function updatePreviewImage(inputId, previewId) {
        const input = document.getElementById(inputId);
        const preview = document.getElementById(previewId);
        const file = input.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    }
</script>
