@model TraversalCoreProje.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrierungsseite</title>
    <link href="~/Data/Css/Loginstyle.css" rel="stylesheet" />
</head>
<body>
    <main class="main-container">
        <div class="left-panel">
            <a href="/Default/Index/">
                <div class="image-wrapper">
                    <img src="/Traversal-Starter/assets/images/g2.jpg" alt="" class="profile-image">
                </div>
            </a>
            <h1 class="brand-name">Traversal</h1>
        </div>

        <div class="right-panel">
            <h2 class="form-title">REGISTRIEREN</h2>
            <form class="register-form" method="post">
                <input type="email" asp-for=Username placeholder="E-Mail" class="form-input" required>
                <span asp-validation-for="Username" style="color:red"></span>
                <input type="password" asp-for=Password placeholder="Password" class="form-input" required>
                <span asp-validation-for=Password style="color:red"></span>
                <button type="submit" class="next-button">WEITER</button>

                @*<div class="separator">
                <span class="separator-text">ODER MIT</span>
                </div>*@

                @*<div class="social-buttons">
                <button type="button" class="social-button">ANMELDEN</button>
                <button type="button" class="social-button">ANMELDEN</button>
                </div>*@

                <p class="terms-text">Mit der Registrierung stimmen Sie den Allgemeinen Geschäftsbedingungen und Datenschutzrichtlinien von Traversal zu.</p>
                <p class="login-text">Sie haben bereits ein Konto? <a href="/User/registor/">Anmelden</a></p>
            </form>
        </div>
    </main>
</body>
</html>
